* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background-color: #002451;
    color: #ffffff;
    font-family: monospace;
}



.promo-header {
    background-color: #004080;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    
    box-shadow: 0 -3px 15px 3px #2c63a74f;
}

.promo-header span {
    color: #FFD700;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.social-icons img {
    width: 30px;
}

.wadi-info {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px;
}

.wadi-info h1 {
    font-size: 24px;
    margin-top: 60px;
}

.wadi-info h3 {

    
    font-size: 30px;
    margin-top: 10px;
    
    
}

.wadi-info h1 span {
    font-weight: bold;
}

.wadi-info h2 {
    font-size: 20px;
    margin-top: 4rem;
}

.payment-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.payment-icons img {
    width: 50px;
}

.features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature {
    background-color: #003366;
    padding: 15px;
    border-radius: 8px;
}

.feature h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.help {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.help img {
    width: 50px;
}